.m-about-family {
  @include grid-column(12);
  margin-bottom: 2rem;
  @media #{$medium-up} {
    @include grid-column(6);
  }
  > img {
    margin-bottom: $global-margin;
  }
}

.m-about-button {
  @include button($bg: #fff, $radius: 50px);
  border: 2px solid $primary-color;
  &.first {
    margin-right: 1rem;
    @media #{$medium-up} {
      margin-right: $global-margin;
    }
  }
  &:hover {
    background-color: $primary-color;
    color: white;
  }
 
}