.m-service {
  @include grid-column(12);
  margin-bottom: $global-margin;

  .m-service-description {
    text-align: left;
  }

  @media (min-width: 960px) {
    @include grid-column(6);

  }
  @media #{$large-up} {
    @include grid-column(3);
  }
}

.m-service-icon {
  @include round;
  width: 250px;
  height: 250px;
  background-size: 250px 250px;
}