// @mixin linear-gradient($fromColor, $toColor) {
//   background-color: $toColor; /* Fallback Color */
//   background-image: linear-gradient(90deg, $fromColor, $toColor);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=90,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
// }

@function set-panel-text-color($color) {
  @if (lightness($color) > 50) {
    @return $body-font-color; 
  } @else {
    @return #fff;
  }

}

$global-margin: 2rem;

@mixin round {
  border-radius: 999px;
  border-radius: 50%;
}

button, .button {
  @include button($radius: 50px);
  margin-bottom: .25rem;
}
