extends layout

block content
  section.404.l-content-section
    .row
      .small-12.columns
        h1 Oops! We're sorry.
        h3.subheader The page you're looking for cannot be found.
        a(href="/").button.secondary Back to Home