extends layout

block content
  article.l-patient-story
    .row
      .l-patient-story-content
        hgroup.l-patient-story-header
          img(data-interchange='[images/amanda.jpg, (default)], [images/amanda@2x.jpg, (retina)]', src='images/amanda.jpg', alt='photo of a an patient named Kathi' width='150' height='150')
          noscript
            img(src="images/dr-elliott.jpg", alt="dr richard elliott family orthodontist highlands ranch")
          h1 Amanda's Story
        p When I first decided to get braces, I was incredibly apprehensive.  I was in my mid-twenties and working for a fashion company.  I had these horrific images of having a mouthful of metal and being in pain.  However, I was also tired of smiling with my mouth closed and being embarrassed about how my teeth looked.  After doing some research, I found Dr. Elliott.

        p His practice was rated as the top orthodontics office in Colorado. I decided that if I was going to get braces, I wanted to see if Dr. Elliott would be a good fit for me.  

        p From start to finish, Dr. Elliott and his team have been incredibly professional, organized and compassionate.  When I voiced my concerns about being older, having a professional job and worried about how braces might look, Dr. Elliott provided me with all of my options.  Every step of the way, I’ve known exactly where my progress was and I was never concerned that I could not go in and see Dr. Elliott if I had an emergency (which only happened once ☺).  I am incredibly happy I chose Dr. Elliott’s Orthodontics, and I show it each and every time I smile and laugh...with my all of my teeth showing.