extends layout

block title
  | Elliott Orthodontics - Family Orthodontist in Highlands Ranch, CO

block content
  section.l-welcome.l-content-section
    .row
      .l-welcome-header
        hgroup
          h1 Welcome to The Elliott Ortho Family
          h4.subheader
            em our smiles come from the heart
    .row
      .l-welcome-video
        iframe(src="//fast.wistia.net/embed/iframe/6cfzqtemme?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="480" height="270")
        script(src="//fast.wistia.net/assets/external/E-v1.js")

    .row
      .l-arrow
        a(href='#about')
          img(src='images/down-arrow.svg', alt='scroll down to read more about dr elliott')
  section#about.l-about.l-content-section
    .l-about-wrapper
      .l-about-photo
        img(src='images/dr-elliott.jpg', alt='Dr. Elliott family Orthodontist in Highlands Ranch', width='250', height='250')
        h2 Dr. Elliott
      .l-about-text
        p I love my job! Running a family orthodontic practice is incredibly rewarding. Since 1992, I've had the pleasure of helping men, women and children in Highlands Ranch achieve great smiles. If you ask me, there's nothing quite like a beautiful smile.
        p The motto of my practice is &quot;Our smiles come from the heart.&quot; We treat you like we would treat our own family. 
        p Our practice is not just dedicated to the highest quality of care. It is also committed to providing a comfortable and enjoyable experience to all of our patients. When you walk into our office&mdash;you are welcomed by friends and family. It is something you can look forward to at each appointment. You'll be smiling on the way in, and smiling on the way out. 

        p Life gets busy. We know that your time is incredibly valuable and you can't waste it in a waiting room. That's why our team is constantly working to make sure that our schedule stays on time. Efficiency is a core principle of our practice.

        p As an orthodontist, I am passionate about pursuing ongoing postgraduate education. It is crucial to achieve mastery of the craft. Our approach reflects the work of the best orthodontic practices from around the world.

        p A strong educational background is necessary to decipher what will truly benefit each individual patient. I work to understand every patient, their lifestyle, needs, and expectations. There is no one-size fits all approach. Each person is unique and deserves personalized care. 

        p I've put together an online version of my resume in case you're interested in my educational background. I've also included some photos of my family and me. If you have any questions, please give us a call. We'd love to hear from you.

        a#resume.m-about-button.s-about-toggle.first(href='#') View My Resume
        a#family.m-about-button.s-about-toggle(href='#') View Photos of My Family &amp; Me
    .l-about-resume
      .row
        .l-about-resume-wrapper
          .row
            .l-about-resume-header
              h3 Richard G. Elliott, D.D.S.
          .row
            .l-about-resume-content
              h4 A Strong Educational Background
              h6 Graduate Training:
              ul
                li University of Kansas - B.A. Zoology
                li University of Missouri - Kansas City School of Dentistry
                li
                  ul
                    li Two-year orthodontic residency
              h6 Honor &amp; Awards
              ul
                li Phi Kappa Phi &mdash; National University Honor Society
                li
                  a(href='http://www.oku.org/', target='_blank') Omicron Kappa Upsilon
                  |  - National Dental Honorary Society
              h4 Meeting The Highest Standards of His Profession
              h6 Postgraduate Training:
              ul
                li
                  | Consistently participates in all facets of orthodontics; current orthodontic surgery, temporomanibular joint disorders, infection control, OSHA compliance and practice management
              h6 Member
              ul
                li
                  a(href='https://www.aaoinfo.org/', target='_blank') American Association of Orthodontics
                li
                  a(href='http://rmso.org/', target='_blank') Rocky Mountain Society of Orthodontics
                li
                  a(href='http://www.ada.org/en/', target='_blank') American Dental Association
                li
                  a(href='http://mddsdentist.com/', target='_blank') Metropolitan Denver Dental Society
                li Roth/Williams Functional Occlusion
                li
                  a(href='http://www.rwiso.org/', target='_blank') Roth/Williams International Society of Orthodontists
                li
                  a(href='https://www.cmda.org/', target='_blank') Christian Medical and Dental Society
              h6 Practical Experience
              ul
                li Practicing orthodontist since 1974 and in Highlands Ranch since 1992
                li Director of an orthodontic clinic in Lausanne, Switzerland
                li Practiced in Frankfurt, Germany
                li Was an orthodontic consultant at the University of Erlingen, Germany
              h6 Commitment to Family and Community
              ul
                li
                  em
                    | &quot;I believe it is important to have a balance between family, office, and community. I am committed to giving back to others what many have given to me.&rdquo;
                li
                  | Married to Cindy for over 30 years with four wonderful children; Andrew, Alexander, Abigail and Aaron.
                li
                  | Very active in beautiful Colorado with camping, fishing, hiking, biking, skiing and hunting and kids&rsquo; school and sports.
                li Coaches a junior bicycle race team and is a Boy Scout Leader.
                li
                  | Also active in church, local outreach, and Christian Medical/Dental mission trips.
    .l-about-family
      .row
        .l-about-family-header
          h3 Photos of My Family &amp; Me
        .m-about-family
          img(src='images/dr-elliott-and-family-1.jpg', alt='photo of highlands ranch orthodontist dr elliott and two of his children at a family dinner')
        .m-about-family
          img(src='images/dr-elliott-and-family-2.jpg', alt='photo of highlands ranch orthodontist dr elliott and his family')

    .l-arrow
      a(href='#stories')
        img(src='images/down-arrow.svg', alt="scroll down to read stories of elliott ortho patients in highlands ranch")
  section#stories.l-content-section
    .row
      .l-stories-header
        h2 Our Patients' Stories
        h4.subheader Read about the stories of people who came to Elliott Orthodontics with a specific need and became a part of our family.
    .l-story-wrapper
      .l-story-content
        img(src='images/amanda.jpg', alt='photo of Amanda, a highlands ranch orthodontics patient who received braces')
        h4 Amanda
        p When I first decided to get braces, I was incredibly apprehensive.  I was in my mid-twenties and working for a fashion company.  I had these horrific images of having a mouthful of metal and being in pain.  However, I was also tired of smiling with my mouth closed and being embarrassed about how my teeth looked.  After doing some research, I found Dr. Elliott...
        a.button.secondary(href="amanda.html") Read More
      .l-story-content
        img(src='images/michael.jpg', alt='photo of a TMJ patient named Michael from Littleton Colorado')
        h4 Michael
        p I was referred to Dr. Elliott by an oral surgeon for my sleep apnea.  I needed to have jaw surgery to resolve my sleep apnea and Dr. Elliott works very closely with the oral surgeons in the community for TMJ and other jaw and airway issues.  Dr. Elliott is very knowledgeable and I highly recommend him!
      .l-story-content
        img(src='images/kristin.jpg', alt='photo of Kathi, mother of two kids who received treatment at elliott orthodontics in highlands ranch')
        h4 Kristin
        p Dr. Elliott gave my children Amani and Aram beautiful smiles so I did next the logical thing: I had a consultation with Dr. Elliott and got braces for myself. Being a woman of a "certain age" considering braces was a little nerve racking but when Dr. Elliott said he could mount the brackets on the back of my teeth where no one would see them it was a done deal! I love my new smile. Thank you Dr. Elliott and staff!
    .l-story-wrapper
      .l-story-content
        img(src='images/kathi.jpg', alt='photo of Kathi after she got her braces off at elliott orthodontics')
        h4 Kathi
        p Dr. Elliott came highly recommended by my dentist.  My front teeth overlapped and I had wanted straight front teeth for a long time. Dr. Elliott met with me to discuss options, length of time for treatment, and most importantly asked questions about what was important to me and how I hoped to achieve what I wanted. His entire staff is professional, friendly, and helpful. I would highly recommend Dr. Elliott.
      .l-story-content
        img(src='images/amani-and-aram.jpg', alt='photo of Amani and Aram — two braces patients of Dr. Elliott in Highlands Ranch')
        h4 Amani &amp; Aram
        p Dr. Elliott is a wonderful orthodontist. The staff and technicians were always friendly and helpful. The experience was perfect! We are so glad we got braces from Dr. Elliott.
      .l-story-content
        img(src='images/kathy.jpg', alt='photo of a orthodontic braces patient named Kathi here in Highlands Ranch')
        h4 Kathy
        p My dentist recommended that I be fitted for a bite splint to help reduce the wear and tear that can come from clenching and grinding. Because I had been so pleased with the orthodontic care my daughter received, I approached Dr Elliott about the splint. I had no idea that the impact on my life would be so great! Not only does my jaw feel better and protect my teeth from wear but I am almost headache-free after decades of frequent headaches. I can't say enough about how pleased I am with the outcome and with the terrific care I received by everyone in the practice. Thank you!
    .l-arrow
      a(href='#services')
        img(src='images/down-arrow.svg', alt="scroll down to see elliott ortho's services")
  section#services.l-services.l-content-section
    .row
      .l-services-header
        h2 Our Services
        h4.subheader
          | Our goal is to serve families in Highlands Ranch with the very best orthodontic services. We offer care in the following areas:
    .row
      .m-service
        img.m-service-icon(src='images/braces-icon.svg', alt='elliott orthodontics highlands ranch service name')
        h3.m-service-name Braces
        p.m-service-description
          | We know that when people are looking for braces, what they&apos;re really looking for is a great smile. We serve patients from age seven to age 70 and pride ourselves on providing the highest quality of care. We listen to you and your needs and design our treatments to give you the very best orthodontics can provide.
        p.s-view-more-paragraph
          | Technology has advanced to make orthodontics more cosmetic, comfortable and efficient. If you&apos;re looking for clear, Invisalign-type or lingual braces, we would love to meet you in person for a free consultation and advise you on the best path to a great smile.
        a.button.secondary.s-view-more-link(href='javascript:void(0)') Read More...
      .m-service
        img.m-service-icon(src='images/tmj-icon.svg', alt='elliott orthodontics highlands ranch service name')
        h3.m-service-name TMJ
        p.m-service-description
          | TMJ is a group of conditions that can cause pain in the jaw, neck, head and face. Many people suffer from these types of symptoms and go to one specialist after another in desperate need of a cure. Suprisingly, TMJ accounts for a large number of these painful symptoms.
        p.s-view-more-paragraph
          | The problem stems from the jaw and the muscles that control jaw movement. Pain is a symptom of TMJ, not the problem itself. Diagnosing and correcting the problem is at the heart of TMJ treatment. If you&apos;re experiencing any of the pain mentioned above and think you might have TMJ, give us a call and we can talk about how we would approach diagnosis and treatment.
        a.button.secondary.s-view-more-link(href='javascript:void(0)') Read More...
      .m-service
        img.m-service-icon(src='images/snoring-icon.svg', alt='elliott orthodontics highlands ranch service name')
        h3.m-service-name Snoring
        p.m-service-description
          | Snoring is often curable through a dental device which holds the lower jaw forward during sleep. We specially design solutions for each of our patients to help our patients stop snoring and get a better night's sleep. A potentially life-threatening condition called sleep apnea can often accompany snoring...
        p.s-view-more-paragraph
          | Snoring by itself is easily treated and needs no medical workup. Snoring with sleep apnea is dangerous and should be taken seriously. If you or your spouse have issues snoring, come visit us for a free consultation, we&apos;d love to help.
        a.button.secondary.s-view-more-link(href='javascript:void(0)') Read More...
      .m-service
        img.m-service-icon(src='images/surgery-icon.svg', alt='elliott orthodontics highlands ranch service name')
        h3.m-service-name Surgery
        p.m-service-description
          | Braces are often all that is needed to achieve a great smile. Braces can correct the position of the teeth, as well as crowding and alignment. However, if the upper and lower jaws don&apos;t align properly, braces can&apos;t correct the whole problem. Sometimes surgery is the best solution and can achieve incredible results.
        p.s-view-more-paragraph
          | This is a sophisticated treatment that yields beautiful results. Proper diagnosis is necessary to provide the best treatment. We provide a free consultation to all, and would love to advise you on the best approach for your situation.
        a.button.secondary.s-view-more-link(href='javascript:void(0)') Read More...
    .row
      .l-services-cta
        h4 Schedule Your Free Consultation
        a.button(href='tel:3037914411' data-event='referral')
          | Call Now
        p.lead (303) 791-4411
    .row
      .l-arrow
        a(href='#smiles')
          img(src='images/down-arrow.svg', alt='scroll down to see what makes an Elliott Smile')
  section#smiles.l-content-section
    .row
      .l-smiles-header
        h2 What Makes an Elliott Smile?
        h4.subheader  When asked, "What makes a great smile?" we realized the best way to answer was to share some of our family's smiles with you. Each of these photos show smiles with specific characteristics that work together to form a full and beautiful smile. Take a look and see what kind of smiles we can make together.
    .m-smiles
      .m-smiles-description
        h3 Smile Fullness
        p Your smile should fill the space between your lips both vertically and horiztonally.   
      .m-smiles-photo
        img(src='images/elliott-smile-brian.jpg', alt='example of a full smile')
    .m-smiles
      .m-smiles-description.even
        h3 Smile Line
        p The edges of your upper front teeth should match the curvature of your lower lip.
      .m-smiles-photo.even
        img(src='images/elliott-smile-jill.jpg', alt='example of a full smile')
    .m-smiles
      .m-smiles-description
        h3 Matching Bite
        p Your upper arch should be wider than the lower arch and encompass the lower.
      .m-smiles-photo
        img(src='images/elliott-smile-kiley.jpg', alt='example of a full smile')
    