footer.l-content-section
  .row
    .l-footer-column
      h3 Trusted by Many
      p.lead Since 1992 we&apos;ve served over 2,000 families and have won dozens of awards.
      .row
        .l-footer-awards
          a(href="http://www.5280.com/dentists/richard-g-elliott" title='link to Elliott Ortho 5280 best dentist in denver')
            img(src='images/5280-top-dentists.jpg', alt='dr elliott award for top dentist 2014 highlands ranch')
            img(src='images/5280-top-dentists-2012.jpg', alt='dr elliott award for top dentist 2012 highlands ranch')
            img(src='images/5280-top-dentists-2010.jpg', alt='dr elliott award for top dentist 2010 highlands ranch')
    .l-footer-column
      h3 Join The Family
      p.lead Every great smile at Elliott Ortho begins with a free consultation.
      a.button(href='tel:3037914411') Call Now
      p.lead (303) 791-4411
    .l-footer-column
      h3 Contact Us
      p
        | 537 W Highlands Ranch Pkwy 
        br
        |                 Highlands Ranch, CO 80129 
        br
        |                 
        a(href='https://goo.gl/maps/CP9cN') Open in maps
      p
      h4 Email
      p
        a(href='mailto:newsmiles@elliottortho.com') newsmiles@elliottortho.com
  .row
    .l-website-credit
      p.lead
        | Website hand-crafted by 
        a(href='http://www.john-ellison.com') John Ellison