footer.l-content-section
  .row
    .medium-4.columns
      h3 Trusted by Many
      p.lead Since 1992 we&apos;ve served over 2,000 families and have won dozens of awards.
      .row
        img(src='http://placehold.it/120x35', alt='')
        img(src='http://placehold.it/35', alt='')
    .medium-4.columns
      h3 Join The Family
      p.lead Every great smile at Elliott Ortho begins with a free consultation.
      a.button(href='tel:3037914411') Call Now
      p.lead (303) 791-4411
    .medium-4.columns
      h3 Contact Us
      p
        | 537 W Highlands Ranch Pkwy 
        br
        |                 Highlands Ranch, CO 80129 
        br
        |                 
        a(href='https://goo.gl/maps/CP9cN') Open in maps
      p
      h4 Email
      p
        a(href='mailto:newsmiles@elliottortho.com') newsmiles@elliottortho.com
  .row
    .l-website-credit
      p.lead
        | Website hand-crafted by 
        a(href='http://www.john-ellison.com') John Ellison