header.top-nav.fixed
    nav.top-bar(data-topbar='')
      ul.title-area
        li.name.hide-for-small
          h1
            a(href='tel:3037914411' data-event='referral') (303) 791-4411
        li.name.show-for-small
          h1
            a(href='#') Elliott Orthodontics
        li.toggle-topbar.menu-icon
          a(href='#') Menu
      section.top-bar-section
        ul.left
          li
            a.button.hide-for-small(href='tel:3037914411' data-event='referral') Call Now
        // Right Nav Section
        ul.right
          li.active
            a(href='/') Home
          li
            a(href='#about') About
          li
            a(href='#stories') Stories
          li
            a(href='#services') Services
          li
            a(href='#footer') Contact
  .l-address-cta(data-magellan-expedition='fixed')
    ul.m-mobile-quick-bar
      li.first
        a.m-mobile-quick-button.secondary(href='https://goo.gl/maps/CP9cN') Open in Maps
      li
        a.m-mobile-quick-button(href='tel:3037914411' data-event='referral') Call Now